body { font-family: sans-serif;  
background: #01133a;}

.topLink {

  color: gray;
  cursor: pointer;
 
}
.title{

  font-size: 30;
  font-weight: 500;
  color: aliceblue;
 
}
.navbar{
  background: rgb(8, 39, 130);
  padding: 10px 20px;
}
.button{
  color: white;
  background-color: rgb(43, 127, 236);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}